html,
body {
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  height: 100%;
  padding: 15px;
}

td,
th {
  padding: 20px;
}

.client-button {
  background-color: goldenrod;
}

.jumbotron {
  min-height: 100%;
}

.options-button {
  margin: 30px;
  padding: 5px 15px 5px 15px;
}

.program-button {
  background-color: lightgreen;
}

#background {
  background-image: url("/images/NANOTECH-01.jpg");
  min-height: 100%;
}

#operant-display {
  height: 250px;
  width: 250px;
}

#title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}
